footer {
    height: 144px;
    background-color: black;
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >img {
        height: 44px;
    }
    >a {
        font-family: 'raleway';
        color: white;
        text-decoration: none;
        &:hover {
            color: #9F0908;
        }
    }
}