<section>
    <h3>OUR MENU</h3>
    <div>
        <img src="" alt="">
        <div>
            <h4>Tonkotsu Ramen</h4>
            <table>
                <tr>
                    <td>CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td>BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td>SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <img src="" alt="">
        <div>
            <h4>Tonkotsu Ramen</h4>
            <table>
                <tr>
                    <td>CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td>BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td>SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <img src="" alt="">
        <div>
            <h4>Tonkotsu Ramen</h4>
            <table>
                <tr>
                    <td>CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td>BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td>SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </table>
        </div>
    </div>
</section>
