<section>
    <h3>OUR MENU</h3>
    <div class="menu-area">
        <div class="choices-img-left">
            <img src="./../../../assets/img/R1.png" alt="">
            <div>
                <h4>Tonkotsu Ramen</h4>
                <table>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="choices-img-right">
            <div>
                <h4>Spicy Miso Ramen</h4>
                <table>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </table>
            </div>
            <img src="./../../../assets/img/R2.png" alt="">
        </div>
        <div class="choices-img-left">
            <img src="./../../../assets/img/R3.png" alt="">
            <div>
                <h4>Shio Ramen</h4>
                <table>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>