section {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(./../../../assets/img/section_our_menu_bg.jpg);
    background-size: cover;
}

.menu-area {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 56px;
    width: 100%;
}

.choices-img-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    >img {
        width: 352px;
        height: 352px;
    }
    >div {
        display: flex;
        flex-direction: column;
        gap: 16px;
        >table {
            font-family: 'raleway';
            font-size: 32px;
            color: #675E54;
            display: flex;
            flex-direction: column;
            gap: 8px;
            >tr {
                display: flex;
                justify-content: space-between;
                gap: 180px;
            }
        }
    }
}

.choices-img-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
    >img {
        width: 352px;
        height: 352px;
    }
    >div {
        display: flex;
        flex-direction: column;
        gap: 16px;
        >table {
            font-family: 'raleway';
            font-size: 32px;
            color: #675E54;
            display: flex;
            flex-direction: column;
            gap: 8px;
            >tr {
                display: flex;
                justify-content: space-between;
                gap: 180px;
            }
        }
    }
}
